<h2><%= @socio_economic_indicator.name %></h2>
<p>Games Played: <%= @socio_economic_indicator.games %></p>
<p>Goals: <%= @socio_economic_indicator.goals %></p>
<p>Assists: <%= @socio_economic_indicator.assists %></p>
<p>Points: <%= @socio_economic_indicator.points %></p>
<p>Corsi Rel: <%= @socio_economic_indicator.corsi_relative %></p>
<p></p>