<h2><%= @vacant_property.name %></h2>
<p>Games Played: <%= @vacant_property.games %></p>
<p>Goals: <%= @vacant_property.goals %></p>
<p>Assists: <%= @vacant_property.assists %></p>
<p>Points: <%= @vacant_property.points %></p>
<p>Corsi Rel: <%= @vacant_property.corsi_relative %></p>
<p></p>