<% @life_expectancy.each do |expect| %>

<h2><%= expect.name %></h2>
<p>Games Played: <%= expect.games %></p>
<p>Goals: <%= expect.super_good %></p>
<p>Assists: <%= expect.assists %></p>
<p>Points: <%= expect.points %></p>
<p>Corsi Rel: <%= expect.corsi_relative %></p>

<% end %>