<h2><%= @life_expectancy.name %></h2>
<p>Games Played: <%= @life_expectancy.games %></p>
<p>Goals: <%= @life_expectancy.goals %></p>
<p>Assists: <%= @life_expectancy.assists %></p>
<p>Points: <%= @life_expectancy.points %></p>
<p>Corsi Rel: <%= @life_expectancy.corsi_relative %></p>
<p></p>