<p>ID #<%= @community["id"] %></p>
<p>Community Area #: #<%= @community["community_area"] %></p>
<p>Community Area Name: <%= @community["community_area_name"] %></p>
<p>Vacant Properties: <%= @community["vacant_properties"] %></p>
<p>Percent of Crowded Housing: <%= @community["percent_of_housing_crowded"] %></p>
<p>Percent of Households Below Poverty Line: <%= @community["percent_of_households_below_poverty"] %></p>
<p>Percent Over 16 Years Old: <%= @community["percent_over_16_unemployed"] %></p>
<p>Percent Over 25 Without HighSchool Diploma: <%= @community["percent_over_25_without_HS_diploma"] %></p>
<p>Percent Over 18 or under 65: <%= @community["percent_under_18_over_64"] %></p>
<p>Per Capita Income Average: <%= @community["per_capita_income"] %></p>
<p>Hardship Index: <%= @community["hardship_index"] %></p>

<div id="chart-container" style="width:100%; height:400px;"></div>
<script>
$(function () {
    $('#chart-container').highcharts({
        title: {
            text: '<%= @community["community_area_name"] %> Life Expectancy',
            x: -20 //center
        },
        xAxis: {
            categories: ['1990', '2000', '2010']
        },
        yAxis: {
            title: {
                text: 'Age'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: '<%= @community["community_area_name"] %>',
            data: [<%= @community["life_expectancy_1990"] %>, <%= @community["life_expectancy_2000"] %>, <%= @community["life_expectancy_2010"] %>]
        }]
    });
});
</script>
